<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cadastrar Conta</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="css/bootstrap-theme.min.css" />
</head>
<body class="container">

	<div class="container">
		<div class="row">
			<form name="formulario" class="form-horizontal" method="post"
				action="cadastrar">
				<fieldset>

					<legend>Cadastro</legend>

					<div class="form-group">
						<label class="col-md-4 control-label">Nome</label>
						<div class="col-md-5">
							<input name="nome" type="text" placeholder="Nome" id="nome"
								class="form-control input-md" />
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label">Cadastrar</label>
						<div class="col-md-4">
							<input type="submit" value="Cadastrar Conta"
								class="btn btn-success btn-sm" />
						</div>
					</div>

				</fieldset>
			</form>

		</div>
	</div>

</body>
</html>