<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inicio Gerenciador do Sistema</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<body class="container">

	<div class="well well-sm">
		<h2>Projeto do gerenciador de Contas</h2>
	</div>

	<!-- Conteudo da página principal -->
	<div class="col-md-12">

		<h3>Bem vindo ao projeto</h3>
		<hr />
		<p>Selecione a operação desejada:</p>
		<br />
		<br />

		<div class="col-md-3 panel text-center">
			<div class="glyphicon glyphicon-blackboard" style="font-size: 3em;">
				<br />
				<br /> <a href="formulariocadastro" class="btn btn-lg btn-primary">
					Cadastrar Conta </a>
			</div>
		</div>

		<div class="col-md-3 panel text-center">
			<div class="glyphicon glyphicon-tasks" style="font-size: 3em;">
				<br />
				<br /> <a href="telaconsulta" class="btn btn-lg btn-primary">
					Consultar Conta </a>
			</div>
		</div>

		<div class="col-md-3 panel text-center">
			<div class="glyphicon glyphicon-erase" style="font-size: 3em;">
				<br />
				<br /> <a href="telaAlterar" class="btn btn-lg btn-primary">
					Alterar Conta </a>
			</div>
		</div>

	</div>
</body>
</body>
</html>