<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Consultar Contas</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<body class="container">

	<div class="col-md-12">
		<div class="col-md-3 panel text-center">
			<div class="glyphicon glyphicon-blackboard" style="font-size: 3em;">
				<br />
				<br /> <a href="formularioconsultapessoafisica"
					class="btn btn-default btn-block"> Conta de Pessoa Física </a>
			</div>
		</div>

		<div class="col-md-3 panel text-center">
			<div class="glyphicon glyphicon-tasks" style="font-size: 3em;">
				<br />
				<br /> <a href="formularioconsultapessoajuridica"
					class="btn btn-default btn-block"> Conta de Pessoa Jurídica </a>
			</div>
		</div>

	</div>
</body>
</body>
</html>